xtend-gen
src-gen
classes_gen
source_gen
jimple_gen
source_gen.caches
test_gen.caches
workspace.xml
artifacts
tmp
libraries.overrides.properties
.gradle/
build/generated/
build/mps/
build/code/
build/test/
test_gen/
.DS_Store
