<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.inca.org/integration/souffle/Lang"
			class = "org.inca.integration.souffle.lang.LangPackage"
			genModel = "model/generated/Lang.genmodel" />
	</extension>
</plugin>
